:root {
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --green: hsl(158, 36%, 37%);
  --green-two: hsl(158, 42%, 18%);
  --font-primary: 'Montserrat', sans-serif;
  --font-title: 'Fraunces', serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  font-size: 62.5%;
  background-color: var(--cream);
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--cream);
}

.main-container {
  background-color: var(--white);
  display: flex;
  border-radius: 7px;
  overflow: hidden;
  
}

.img-perfume {
  height: 380px;
}
.description{
  display: flex;
  flex-direction: column;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.name{
  
  display:flex;
  flex-direction: column;
}

.name h2{
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-right: 30px;
  font-size: 1rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  color: var(--grey);
  font-weight: 400;
}

.name h1{
  padding-left: 20px;
  padding-bottom: 15px;
  padding-right: 30px;
  font-size: 2.5rem;
  line-height: 2.8rem;
  font-family: var(--font-title);
  color: var(--black);
}

.name p{
  padding-left: 20px;
  padding-bottom: 45px;
  padding-right: 30px;
  font-size: 1.2rem;
  font-family: var(--font-primary);
  color: var(--grey);
  line-height: 1.7rem;
}

.attribution {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  }

.price{
  display: flex;
}

.price-1{
  display: block;
  padding-left: 20px;
  font-size: 2.5rem;
  font-family: var(--font-title);
  color: var(--green);
}

.price-2{
  display: block;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 1.1rem;
  color: var(--grey);
  font-family: var(--font-primary);
  text-decoration: line-through;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.button-container button{
  width: 200px;
  height: 45px;
  border-radius: 7px;
  border: none;
  background-color: var(--green);
  color:var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container button:hover {
  background-color: var(--green-two);
}

.desktop-title{
  display: inline;
}
.mobile-title{
  display: none;
}

.desktop-p{
  display: inline;
}

.mobile-p{
  display: none;
}

.cart-icon{
  padding-right: 5px;
  width: 18px;
}


@media (max-width: 480px) {
  .main-container {
    background-color: var(--white);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: column;
    width: 90%;
  }

  .img-perfume{
    width: 100%;
    height: 380px;
    object-fit: cover;
  }

  .name h2{
    padding-left: 30px;
    font-size: 1.5rem;
  }

  .name h1{
    padding-left: 30px;
    font-size: 4rem;
    line-height: 4rem;
  }
  .desktop-title{
    display: none;
  }
  .mobile-title{
    display: inline;
  }
  .name p{
    padding-left: 30px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding-bottom: 15px;
  }

  .desktop-p{
    display: none;
  }

  .mobile-p{
    display: inline;
  }

  .price-1{
    padding-left: 30px;
    margin-bottom: 20px;
    font-size: 3.5rem;
  }
  
  .price-2{
    
    padding-left: 20px;
    padding-top: 13px;
    font-size: 1.7rem;
  }

  .button-container button{
    width: 90%;
    height: 60px;
    margin-bottom: 30px;
    font-size: 2rem;
  }

  


}